<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{header}}</h4>
</div>

<form #editForm="ngForm" autocomplete="off" (ngSubmit)="editForm.valid && close(data)">

  <div class="modal-body">

    <div class="form-group" *ngIf="type == 'Area'">
      <label>Area No :</label>
      <input type="number" class="form-control" placeholder="Please type area code ..." name="area" [(ngModel)]="data.area_No"
        required (keypress)="keyPress($event)">

      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.area.invalid" severity="error" text="Value is required to be saved!"></p-message>
      </div>
    </div>

    <div class="form-group" *ngIf="type == 'Building Types' || type =='Company Code' || type =='Contract Type' || type == 'Division' || type == 'Languages'">
      <label>Code :</label>
      <input type="text" class="form-control" placeholder="Please type area code ..." name="area" [(ngModel)]="data.code" required>

      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.area.invalid" severity="error" text="Value is required to be saved!"></p-message>
      </div>
    </div>

    <!-- <div class="form-group" *ngIf=" type == 'Building Types' || type =='Contract Type'">
      <label>Description :</label>
      <textarea class="form-control" placeholder="Please type area description ..." name="description" [(ngModel)]="data.description"
        required></textarea>

      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.description.invalid" severity="error" text="Value is required to be saved!"></p-message>
      </div>
    </div> -->

    <div class="form-group" *ngIf="type != 'Shift'">
      <label>Name :</label>
      <input class="form-control" placeholder="Please type value ..." name="name" [(ngModel)]="data.name" required>

      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.name.invalid" severity="error" text="Value is required to be saved!"></p-message>
      </div>
    </div>

    <div class="form-group" *ngIf="type == 'Shift'">
        <label>Day :</label>
        <select class="form-control" name="day" [(ngModel)]="data.day" required>
          <option [value]="undefined" *ngIf="!data.day">-- Choose a Day --</option>
          <option [value]="day" *ngFor="let day of Days">{{day}}</option>
        </select>
        <p-message *ngIf="editForm.submitted && editForm.controls?.day.invalid"><i class="fa fa-exclamation-triangle"></i>This
          field is required</p-message>
      </div>
    
      <div class="form-group" *ngIf="type == 'Shift'">
        <label>Time From :</label>
        <p-calendar [(ngModel)]="startDate" name="dayFrom" showTime="true" hourFormat="12" [showIcon]="true"></p-calendar>
    
        <p-message style="display: block" *ngIf="editForm.submitted && editForm?.controls?.dayFrom?.invalid"><i class="fa fa-exclamation-triangle"></i>Please
          select visit time</p-message>
      </div>
    
      <div class="form-group" *ngIf="type == 'Shift'">
        <label>Time From :</label>
        <p-calendar [(ngModel)]="endDate" name="dayTo" showTime="true" hourFormat="12" [showIcon]="true" 
           readonlyInput="true" [minDate]="startDate"></p-calendar>
   
        <p-message style="display: block" *ngIf="editForm.submitted && editForm?.controls?.dayTo?.invalid"><i class="fa fa-exclamation-triangle"></i>Please
          select visit time</p-message>
      </div>

  </div>

  <div class="modal-footer">
    <button class="btn" (click)="activeModal.dismiss()">close</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>