<div class="row">

  <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

  <div class="col-md-12" *ngIf="!toggleLoading">

    <ngx-datatable class="material expandable" [rows]="rows" [columnMode]="'force'" [columns]="[]"
                   [headerHeight]="50"
                   [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5"
                   [selected]="[]"
                   [selectionType]="'falsey'">
                   
      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                            [resizeable]="false" [headerCheckboxable]="false"
                            [checkboxable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="area_No" name="Area No" *ngIf="type == 'Area'"></ngx-datatable-column>
      <ngx-datatable-column [width]='100' prop="code" name="code" *ngIf="type == 'Building Types' || type == 'Company Code' ||type == 'Contract Type' || type == 'Division'"></ngx-datatable-column>
      <!-- <ngx-datatable-column [width]='100' prop="description" name="Description" *ngIf="type == 'Building Types'|| type == 'Contract Type'"></ngx-datatable-column> -->

      <ngx-datatable-column [width]='100' prop="name" name="Name" *ngIf="type != 'Shift'"></ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="day" name="Day" *ngIf="type == 'Shift'"></ngx-datatable-column>
      <ngx-datatable-column [width]='100' prop="fromTime" name="From Time" *ngIf="type == 'Shift'"></ngx-datatable-column>
      <ngx-datatable-column [width]='100' prop="toTime" name="To time" *ngIf="type == 'Shift'"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="id" name="Edit">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

          <button class="btn btn-light" (click)="edit(row)">
            <i class="fa fa-pencil-square-o"></i>Edit
          </button>

        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="id" name="Remove">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <button class="btn btn-danger" (click)="remove(row)">
            <i class="fa fa-times" aria-hidden="true"></i>
            Remove
          </button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="id" name="addEditLang" *ngIf="type != 'Languages' ">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
  
            <button class="btn btn-info" (click)="addEditLang(row)" style="width:100%">
              <i class="fa fa-language"></i>  Languages
            </button>
  
          </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>

<div class="row" *ngIf="!toggleLoading">
  <div class="col-md-3 col-md-offset-9 add-button">
    <button class="btn btn-dark btn-add" (click)="add()"><i class="fa fa-plus-circle"></i> Add {{type}}</button>
  </div>
</div>
