<h3 class="page-title">Customers</h3>

<p-progressSpinner *ngIf="toggleLoading" class="loading-spinner"></p-progressSpinner>


<div class="container" *ngIf="!toggleLoading">

  <div *ngIf="!toggleLoading" class="uk-card uk-card-default uk-animation-slide-top-small">

    <div class="row">
      <div class="col-md-offset-1 col-md-6">
        <h4 class="sub-title">List of Customers</h4>
      </div>

      <div class="col-md-2 uk-text-right">
        <button class="btn btn-dark" (click)="printCustomer()">Print</button>
      </div>

      <div class="col-md-2 uk-text-right">
        <button class="btn btn-dark" (click)="exportCsv()">Export</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <ngx-datatable class="material expandable" [rows]="customers" [columnMode]="'force'" [columns]="[]"
                       [headerHeight]="50"
                       [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10"
                       [selected]="[]"
                       [selectionType]="'falsey'">
          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false" [headerCheckboxable]="false"
                                [checkboxable]="false">
          </ngx-datatable-column>

          <ngx-datatable-column [width]='120' prop="name" name="Name"></ngx-datatable-column>

          <!--<ngx-datatable-column [width]='120' prop="name" name="Type"></ngx-datatable-column>-->

          <ngx-datatable-column [width]='120' prop="customerPhoneBook" name="Phone">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <span style="margin-left: 2px"
                    *ngFor="let phone of row.customerPhoneBook; let i =index">{{phone?.phone}}<span
                *ngIf="i+1 < row.customerPhoneBook.length">,</span></span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [width]='400' prop="locations" name="Address">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <div *ngFor="let location of row.locations; let i = index">
                {{location.block}} {{location.street}},{{location.area}},{{location.governorate}} <span
                *ngIf="i+1 < row.locations"> ,</span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [width]='100'
                                prop="id" name="Details">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <button class="btn btn-dark" [routerLink]="['./customerDetails', {customerId : row.id}]">Details</button>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>

  </div>

</div>


<table style="position: absolute; z-index: -1000;" border="1" cellpadding="3" id="customer-table">
  <tbody>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Phone</th>
    <th>Address</th>
  </tr>
  <tr *ngFor="let row of customers">
    <td>{{row?.name}}</td>
    <!--<td>{{row?.type}}</td>-->
    <td><span *ngFor="let phone of row.customerPhoneBook; let i = index">{{phone.phone}} <span
      *ngIf="i + 1 < row.customerPhoneBook.length">,</span></span></td>
    <td><span *ngFor="let location of row.locations; let i = index">{{location.block}} {{location.street}},{{location.area}},{{location.governorate}}<span
      *ngIf="i + 1 < row.locations.length">,</span></span></td>
  </tr>
  </tbody>
</table>


<!--<div *ngFor="let location of row.locations; let i = index">-->
<!--{{location.block}} {{location.street}},{{location.area}},{{location.governorate}} <span-->
<!--*ngIf="i+1 < row.locations"> ,</span>-->
<!--</div>-->
