<div class="notification-transparent-background" [ngClass]="notificationBackgroundClass"
     (click)="toggleNotificationBody()"></div>

<nav class="navbar navbar-default whiteBackground">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="logoIcon" src="assets/Images/logo.png"/>
    </div>

    <ul class="nav navbar-nav">
      <li class="ListItem"><a href="./">Home </a></li>
      <li class="ListItem"><a>About Us </a></li>
    </ul>

    <div class="RightPart" *ngIf="authenticationService.isLoggedIn()">
      <img class="Avatar" src="assets/Images/user.png"/>
      <div class="notification-section">
        <button class="notification-btn" [ngClass]="toggelingNotificationIconClass" (click)="toggleNotificationBody()">
          <i class="fa fa-bell-o bell"></i><i
          class="fa fa-circle dot" [hidden]="!newNotificationToggle"></i></button>
        <div [hidden]="!toggleNotification" class="notification-body uk-padding-small uk-animation-slide-top-small">
          <div *ngFor="let notification of notifications" (click)="routeToNotification(notification)">

            <p class="notification uk-padding-small uk-margin-remove
"
               *ngIf="notification.type == 'quotation'"><i class="fa fa-usd"></i>New Quotation created! <br>
              reference Number :
              <strong>({{notification?.refNumber}})</strong></p>

            <p class="notification uk-padding-small uk-margin-remove" *ngIf="notification.type == 'call'"><i
              class="fa fa-phone"></i> New Call created! <br>
              Caller Number :
              <strong>({{notification?.callerNumber}})</strong></p>

            <p class="notification uk-padding-small uk-margin-remove" [hidden]="notification.type != 'order'"><i
              class="fa fa fa-briefcase"></i> New/Updated Order !<br> code :
              <strong>({{notification?.code}})</strong></p>

          </div>
          <p [hidden]="notifications.length">No notifications available</p>
        </div>
      </div>

      <div class="AfterLogin">
        <span class="nameLogged">Welcome , {{authenticationService.CurrentUser().userName}} </span>
        <br/>
        <span class="LogOut"><u (click)="LogoutAll()">Log Out</u></span>
      </div>
    </div>

  </div>
</nav>



    <!-- Horizontal navigation-->
    <div class="whiteBackground header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow"
        role="navigation" data-menu="menu-wrapper" style="display:none">
        <!-- Horizontal menu content-->
        <div class="navbar-container main-menu-content" data-menu="menu-container">
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="dropdown nav-item" data-menu="dropdown">
                  <a class="dropdown-toggle nav-link" href="index-2.html" data-toggle="dropdown">
                    <i class="fa fa-home"></i><span>Dashboard</span></a>
                    <ul class="dropdown-menu">
                        <li class="active" data-menu=""><a class="dropdown-item" href="dashboard-ecommerce.html" data-toggle="dropdown">eCommerce
                                <!-- <submenu class="name"></submenu> -->
                            </a>
                        </li>
                        <li data-menu=""><a class="dropdown-item" href="dashboard-analytics.html" data-toggle="dropdown">Analytics
                                <!-- <submenu class="name"></submenu> -->
                            </a>
                        </li>
                        <li data-menu=""><a class="dropdown-item" href="dashboard-fitness.html" data-toggle="dropdown">Fitness
                                <!-- <submenu class="name"></submenu> -->
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="dropdown-toggle nav-link" href="#">
                        <i class="fa fa-desktop"></i><span>Master Data</span>
                    </a>
                </li>
                <li class="nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#">
                        <i class="fa fa-user"></i><span>User Management</span>
                    </a>
                </li>
    
                <li class="dropdown mega-dropdown nav-item" data-menu="megamenu">
                    <a class="dropdown-toggle nav-link" href="#">
                        <i class="fa fa-users"></i><span>Team Management</span>
                    </a>
                </li>
    
                <li class="dropdown mega-dropdown nav-item" data-menu="megamenu">
                    <a class="dropdown-toggle nav-link" href="#">
                        <i class="fa fa-street-view"></i><span>Dispacher Management</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /horizontal menu content-->
    </div>
    <!-- Horizontal navigation-->