<p-growl [(value)]="modalMessage" [life]="5000"></p-growl>

<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{'SHARED.prntOut'|translate}}</h4>
</div>

<div class="modal-body">
    <div class="form-group halfInput">
        <label style="display: block;">Technicians: </label>
        <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose Technician" [options]="allTecs" [name]="tec" required [(ngModel)]="seletetdTecs"
            optionLabel="firstName" [panelStyle]="{minWidth:'20em'}" (onChange)="changeTecs(seletetdTecs)"></p-multiSelect>
    </div>
    <div class="container-fluid">
        <button class="btn btn-dark pull-rigth col-md-offset-10 col-md-1" (click)="print()">Print</button>
    </div>

    <div class="container-fluid" id="orderPrint">
        <div *ngFor="let tec of tecs">
            <div class="uk-card uk-card-default">
                <div *ngFor="let order of tec.filterOrders">
                    <div class="uk-card-header">
                        <h6 class="orderTitle">{{order?.code}}</h6>
                    </div>
                    <div class="uk-card-body">
                        <div class="col-md-6">
                            <p>Customer : {{order?.customer?.name_en}}</p>
                            <p>Address : {{order?.customer?.address}}</p>
                            <p>Street : {{order?.customer?.street}}</p>
                            <p>Start Date: {{order?.startDate | date:'dd/M/yyyy'}}</p>
                            <p>Technician : {{tec?.firstName}} {{tec?.lastName}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>Order Problem: {{order?.orderProblem?.name}}</p>
                            <p>Order Status: {{order?.orderStatus?.name}}</p>
                            <p>Order Type: {{order?.orderType?.name}}</p>
                            <p>End Date: {{order?.endDate | date:'dd/M/yyyy'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>