<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{header}}</h4>
</div>

<form #editForm="ngForm" autocomplete="off">

    <div class="modal-body">

        <div class="form-group">
            <label>User Name :</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="userData.basic.userName" required />

            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.userName.invalid" severity="error" text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group" *ngIf="role != 'Technician'  && role != 'Dispatcher' &&  role != 'Engineer' &&  role != 'Foreman'   &&  role != 'Supervisor' &&  role != 'Admin'  && role != 'Manager' && role != 'Material Controller'">
            <label>Email :</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="userData.basic.email" required />

            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.email.invalid" severity="error" text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group">
            <label>First Name :</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="userData.basic.firstName" required />

            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.firstName.invalid" severity="error" text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group">
            <label>Last Name :</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="userData.basic.lastName" required />

            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.lastName.invalid" severity="error" text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group" *ngIf="role != 'Technician'  && role != 'Dispatcher' &&  role != 'Engineer' &&  role != 'Foreman'   &&  role != 'Supervisor' && role != 'Admin' && role != 'Manager' && role != 'Material Controller'">
            <label>Phone :</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="userData.basic.phone" required (keypress)="keyPress($event)"
                maxlength="8" minlength="8" />

            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.phone.invalid" severity="error" text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group" *ngIf="role == 'Driver'">
            <label>Vehicle Number :</label>
            <input type="text" class="form-control" name="vehicleNo" [(ngModel)]="userData.basic.vehicleNo" required [disabled]="!role"
            />
            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.vehicleNo.invalid" severity="error" text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group" *ngIf="!data.id">
            <label>Password :</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="userData.basic.password" required />

            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.password.invalid" severity="error" text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <!-- <button class="btn btn-primary" (click)="saveUser()">Save User</button>
        <hr> -->
        <!-- <div class="container-fluid" *ngIf="isSuccess"> -->
        <div class="form-group" *ngIf="role != 'Admin'">
            <label>Division</label>
            <select class="form-control" name="divisionObj" [(ngModel)]="divisionObj" required [compareWith]="compareByOptionId">
                <option [ngValue]="d" *ngFor="let d of divisions">{{d.name}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="role != 'Admin'">
            <label>Cost Center</label>
            <select class="form-control" name="costCenter" [(ngModel)]="costCenter" required [compareWith]="compareByOptionId">
                <option [ngValue]="c" *ngFor="let c of costCenters">{{c.name}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="role == 'Dispatcher'|| role == 'Foreman'|| role != 'Technician'">
            <label>SuperVisor</label>
            <select class="form-control" name="supervisor" [(ngModel)]="supervisor" required [compareWith]="compareByOptionId">
                <option [ngValue]="s" *ngFor="let s of superVisors">{{s.name}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="role == 'Foreman'|| role != 'Technician'">
            <label>Dispatcher</label>
            <select class="form-control" name="Dispatcher" [(ngModel)]="dispatcher" required [compareWith]="compareByOptionId">
                <option [ngValue]="dis" *ngFor="let dis of dispatchers">{{dis.name}}</option>
            </select>
        </div>
        <!-- </div> -->
    </div>

    <div class="modal-footer">
        <button class="btn" (click)="activeModal.dismiss()">close</button>
        <button class="btn btn-primary" type="submit" (click)="saveUser()">Save</button>
    </div>
</form>