h3 {
  border-bottom: 1px solid white;
}

table {
  background-color: rgba(250, 250, 250, 0.8);
  color: black;
  tr {
    transition: 0.5s all;
    td, th {
      border: 1px solid grey;
    }
  }

  tr:hover {
    background-color: rgba(250, 250, 250, 1);
    //cursor: pointer;
    transition: 0.5s all;
  }

  thead {
    tr:first-child {
      cursor: default;
      background-color: lightgrey;
    }
  }
}
