<div class="uk-card uk-card-default">

  <!--<div class="row">-->
  <div class="col-md-offset-1">
    <h4 class="sub-title">Order Report</h4>
  </div>
  <!--</div>-->

  <app-order-filter (filteredOrders)="applyFilter($event)" [type]="'report'" (resetFilter)="getAllOrdersByDis()"
                    (orderProgressMode)="applyOrderProgressMode($event)"></app-order-filter>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">

      <ngx-datatable class="material expandable" [rows]="orders" [columnMode]="'force'" [columns]="[]"
                     [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10"
                     [selected]="[]"
                     [selectionType]="'falsey'">

        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="false"
                              [checkboxable]="false">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="order.code" name="Code"></ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="createdDateView" name="Created Date"></ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.orderStatus.name" name="Status">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.orderType.name" name="Type">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.orderPriority.name" name="Priority">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.orderProblem.name" name="Problem">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.customer.name" name="Customer Name">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="phoneView" name="Customer Phone">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.location.governorate" name="Governorate">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.location.area" name="Area">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='50' prop="order.location.block" name="Block">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.location.street" name="Street">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.dispatcherName" name="Dispatcher Name">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.technicanName" name="Technician Name">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='150' prop="" name="Attachements">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
            <a style="display: inline" target="_blank"
               [href]="row?.order?.signatureURL" [hidden]="!row.order.signatureURL">Attached Image</a>
            <em [hidden]="row.order.signatureURL">(Not available)</em>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]='150' prop="" name="Signature">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
            <a style="display: inline" target="_blank"
               [href]="row?.order?.signatureContractURL" [hidden]="!row.order.signatureContractURL">Signature Image</a>
            <em [hidden]="row.order.signatureContractURL">(Not available)</em>
          </ng-template>
        </ngx-datatable-column>

        <!--************** ORDER PROGRESS INFO **************-->

        <ngx-datatable-column *ngIf="orderProgressMode" [width]='120' prop="orderProgress.progressStatus.name"
                              name="Order Progress">
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="orderProgressMode" [width]='120' prop="orderProgress.createdDateView"
                              name="Progress Date">
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="orderProgressMode" [width]='120' prop="orderProgress.createdBy.userName"
                              name="Progress Creator">
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="orderProgressMode" [width]='150' prop="orderProgress.technicanName"
                              name="Progress by Tecnician">
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>
</div>
