<p-growl [(value)]="cornerMessage"></p-growl>

<h3 class="page-title">Orders Management</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div *ngIf="!toggleLoading"
     class="container dispatcher-order-container uk-card uk-card-default">

  <div class="row" [hidden]="toggleMap">
    <app-order-filter (resetFilter)="resetBoardFilter()" (filterTerms)="applyFilterBoard($event)" [type]="'order board'"></app-order-filter>
  </div>

  <div class="row">

    <div class="orders-section col-md-2">
      <h4 class="sub-title">List of Orders</h4>
      <div class="orders-overflow-container" [dragula]="'orders'" [dragulaModel]="orders">
        <div class="order-header">
          <h4>unassigned orders</h4>
        </div>

        <ul (click)="activeOrder(order)" (mousedown)="setActiveOrder(order)" *ngFor="let order of filteredOrders"
             class="order-card">
          <app-order-card (orderTransfered)="orderTransfered($event)" (orderSelected)="addOrderToSelection($event)"
                          [bulkAssignMode]="isBulkAssign"
                          [order]="order"></app-order-card>
      </ul>

      </div>
    </div>
    <div class="tec-section col-md-10">

      <div [hidden]="toggleMap" class="bulk-assign-button">
        <p-toggleButton [hidden]="isBulkAssign" onLabel="BulkAssign" offLabel="Bulk Assign" [(ngModel)]="isBulkAssign"
                        onIcon="fa-check-square"
                        (onChange)="toggleBulkAssign()" offIcon="fa-square"
                        [style]="{'height':'35px'}"></p-toggleButton>

        <div [hidden]="!isBulkAssign">
          <button class="btn btn-light" (click)="cancelBulkAssignMode()">Cancel</button>
          <button class="btn btn-dark" [disabled]="!selectedOrders.length" (click)="openBulkAssignModal()">Assign
          </button>
        </div>
      </div>

      <div class="on-map-check">
        <input id="map-checkbox" class="uk-checkbox" type="checkbox" [checked]="toggleMap" [(ngModel)]="toggleMap"
               (change)="applyToggleMap()">
        <label for="map-checkbox">View Orders On Map</label>
      </div>

      <h4 *ngIf="!toggleMap" class="sub-title">List of Technicans</h4>
      <h4 *ngIf="toggleMap" class="sub-title">Orders On Map</h4>
      <div [ngClass]="toggleOverflowX" class="technican-overflow-container">
        <div [hidden]="toggleMap" class="single-tec uk-animation-fade" *ngFor="let tec of tecs">
          <!--empty div so i can add style for tec header when tec not available-->
          <div [ngClass]="toggleAvailabilityClass(tec)"></div>
          <div class="tec-header">
            <h4>{{tec?.firstName}} {{tec?.lastName}}</h4>
            <!--<div class="availability-container">-->
            <p style="width:100%">
              <!--<p-inputSwitch onLabel="On" (onChange)="postTecAvailability($event,tec)"-->
              <!--offLabel="Off"-->
              <!--[(ngModel)]="tec.isAvailable"></p-inputSwitch>-->

              <!--<input (change)="postTecAvailability(tec)" type="checkbox" [(ngModel)]="tec.isAvailable" [disabled]="checkTecOrders(tec)">-->
              <em style="color: white">Available</em>
              <p-selectButton (onChange)="postTecAvailability(tec)" [disabled]="checkTecOrders(tec)"
                              [options]="availabilityButtons"
                              [(ngModel)]="tec.isAvailable"></p-selectButton>

            </p>
            <!--<pre>{{!tec.filterOrders.length}}</pre>-->
            <!--</div>-->
          </div>
          <div class="single-tec-overflow" [ngClass]="toggleAvailabilityClass(tec)" (mousemove)="setActiveTec(tec)"
               [dragula]="'orders'" [dragulaModel]="tec.filterOrders">

            <ul (mousedown)="setActiveOrder(order)" *ngFor="let order of tec.filterOrders" class="order-card">
              <app-order-card (orderTransfered)="orderTransfered($event)" (orderSelected)="addOrderToSelection($event)"
                              [bulkAssignMode]="isBulkAssign"
                              [order]="order"></app-order-card>
            </ul>
          </div>
        </div>
        <p *ngIf="!tecs?.length&& !toggleMap">No Technicians Assigned</p>
        <div *ngIf="toggleMap" class="map-container uk-animation-fade">
          <agm-map [fullscreenControl]="true" [latitude]="lat" [longitude]="lng" [zoom]="zoom"
                   [disableDefaultUI]="false"
                   [zoomControl]="true">
            <agm-marker *ngFor="let order of orderMap" [latitude]="order?.location?.latitude"
                        [iconUrl]="order?.statusUrl"
                        [longitude]="order?.location?.longitude"
                        [markerDraggable]="false">
              <agm-info-window>
                <strong>Order Number : {{order?.code}}</strong>
                <br>
                <strong>Customer Name : {{order?.customer?.name}}</strong>
                <br>
                <strong>Order Priority : {{order?.orderPriority?.name}}</strong>
                <br>
                <strong>Order Status : {{order?.orderStatus?.name}}</strong>
                <br>
                <strong>Order Type : {{order?.orderType?.name}}</strong>
              </agm-info-window>
            </agm-marker>

            <i class="fa fa-close" #label></i>

            <agm-marker *ngFor="let vehicle of allVehicles" [latitude]="vehicle?.lat"
                        [longitude]="vehicle?.long"
                        [markerDraggable]="false" [iconUrl]="'assets/Images/vehicle.png'">
              <agm-info-window>
                <strong>Driver Name : {{vehicle?.driverName}}</strong>
              </agm-info-window>
              <i class="fa fa-close"></i>
            </agm-marker>
          </agm-map>
          <div class="filter-icon" (click)="toggleFilter(true)">
            <i class="fa fa-bars"></i>
          </div>
          <div [ngClass]="filterStatusClass" class="filter-body">

            <div [hidden]="filterStatusClass[0] == 'zero-filter-width'">
              <i class="fa fa-close close-filter" (click)="toggleFilter(false)"></i>

              <ul class="filter-tabs" uk-tab>
                <li class="uk-active" (click)="toggleActiveTab(1)"><a href="#">Filter</a></li>
                <li (click)="toggleActiveTab(2)"><a href="#">Layers</a></li>
              </ul>
              <!--*****************-->
              <!--Filter Form-->
              <!--*****************-->
              <app-order-filter [type]="'map'" (filteredOrders)="applyFilterMap($event)"
                                (todayOrders)="getDisAllOrders()"
                                [hidden]="currentActiveTab == 2"></app-order-filter>
              <!--***************************-->
              <!--Filter Layers -->
              <!--***************************-->
              <div [hidden]="currentActiveTab == 1" class="layers">
                <div>
                  <label>Today Orders</label>
                  <input [checked]="todayOrdersStatus" type="checkbox" class="uk-checkbox"
                         [(ngModel)]="todayOrdersStatus"
                         (click)="toggleTodayOrders()">
                </div>
                <div>
                  <label>Vehicles</label>
                  <input [checked]="vehiclesStatus" type="checkbox" class="uk-checkbox" [(ngModel)]="vehiclesStatus"
                         (click)="toggleVehiclesStatus()">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
