<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-danger ">
            <div class="panel-heading">Unassigned Orders</div>
            <div class="form-group">
                <button class="btn btn-danger" (click)="ToggleStatus('Open')">open</button>
                <button class="btn btn-danger" (click)="ToggleStatus('On-Hold')">hold</button>
            </div>
             <div class="form-group">
                <input type="text" placeholder="Enter Customer Name" class="form-control" name="search" [(ngModel)]="search">
            </div> 
        <div class="Unassigned-Container">
            <div [dragula]="'memberBag'"   style="min-height: 1000px;">
              
                <div class="panel-body" draggable="true" *ngFor="let unassign of unassignedOrders | dispatcher: search"
                     (mousedown)="setActiveOrder(unassign)" >
                     <div *ngIf="unassign.statusName === staus">
                     <div class="panel panel-default member-container"  >
                        <div class="panel-body"  >
                            <div class="x"></div>
                            <div>
                                <span># {{unassign.code}}</span><br/>
                                <span><b> Customer: </b> {{unassign.customerName}}</span><br/>
                                <span><b> Status: </b> {{unassign.statusName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-sm-9 dropDiv">
        <div class="col-sm-3 dropDetails  " *ngFor="let disTeam of assignedOrders">
        <!-- <div *ngIf="order.statusName ===open || order.statusName ===On-Hold"> -->
            <div class="panel panel-warning">
                <div class="panel-heading">{{disTeam.teamName}}</div>
                <div class="panel-body teamMember-container">
                    
                    <!-- <div class="col-sm-12"> -->
                    <!-- <div class="panel panel-warning">
                          <div class="panel-heading">{{team.teamId}}</div> -->
                    <div class="team-container disDetails" [dragula]="'memberBag'"
                         (mousemove)="setActiveTeamOrder(disTeam)">
                        <!-- <div *ngIf="order.statusName ==='Open' || order.statusName ==='On-Hold' ? 'disableDrag' : ''"></div> -->
                        <div class="panel-body nested-bag group-handle"  [ngClass]="(order.statusName ==='Dispatched' || order.statusName ==='On-Hold') ? '' :  'disableDrag' " 
                             *ngFor="let order of disTeam.orders" (mousedown)="setActiveOrder(order)">
                             <!-- <div *ngIf="order.statusName ==='Open' || order.statusName ==='On-Hold'  "  ></div> -->
                            <div class="panel panel-default member-container" [ngStyle]="{'background-color':order.style.colorClass,'color':order.style.orderTextColor}" >
                                <div class="panel-body">
                                    <div>
                                        <span># {{order.code}}</span><br/>
                                        <span><b> Customer: </b> {{order.customerName}}</span><br/>
                                        <span><b> Status: </b> {{order.statusName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <!-- </div>
              </div> -->
            </div>
        </div>
    
        <!-- <div class="col-sm-3 dropDetails" *ngFor="let dis of dispatcherTeams" (mousemove)="setActiveDispatcher(dis)">
          <div class="panel panel-warning">
            <div class="panel-heading">{{dis.dispatcherName}}</div>
            <div class="disDetails" [dragula]="'memberBag'">
              <div class="panel-body teamMember-container group-handle" draggable="true" *ngFor="let team of dis.teams" (mousedown)="setActiveTeam(team)">
                <div class="col-sm-12">
                  <div class="panel panel-warning">
                    <div class="panel-heading">{{team.name}}</div>
                    <div class="team-container" [dragula]="'memberBag'" (mousemove)="setActiveTeamMember(team)">
                      <div class="panel-body nested-bag group-handle" draggable="true" *ngFor="let member of team.members" (mousedown)="setActiveMember(member)">
                        <div class="panel panel-default member-container">
                          <div class="panel-body">
                            <div>
                              <span><b> name: </b> {{member.memberParentName}}</span><br/>
                              <span><b> PF: </b> {{member.pf}}</span><br/>
                              <span><b> Type: </b> {{member.memberTypeName}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    </div>
</div>





