.tabs {
  margin-top: 50px;
}

.tabs a {
  font-size: 0.9em;
}

.searchPhonepanel {
  /*background-color: rgba(77, 76, 76, 0.64);*/
  padding: 0px 35px;
  /*border-radius: 5px;*/
}

.uk-card .searchIcon {
  float: right;
}

.nav-justified > li > a {
  border-radius: 0px;
  color: white;
  border: solid 1px transparent;
  /* border-radius: 69px; */
  margin: 5px;
  cursor: pointer;
  background-color: rgba(186, 196, 208, 0.58);

}

.nav-pills > li.active a, .nav-pills > li.active a:hover {
  background-color: rgba(48, 120, 217, 0.99)
}

.nav > li > a:hover {
  background-color: rgba(56, 141, 255, 0.45);
  border: solid 1px transparent;
  /* border-radius: 69px; */
  transition: all;
}

.AddUsericon {
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url(./../../../assets/Images/AddUser.png);
  transform: scale(0.7);
}

.EditPanel {
  border: solid 1px rgba(175, 175, 175, 0.59);
  border-radius: 5px;
  padding: 15px;
  margin: 5px 10px;
  transition: all 2ms;
}

.AlignSup {
  vertical-align: super;
}

.halfInput input, .halfInput select {
  width: 250px;
  display: inline-block;
}

.halfInput label {
  width: 180px;
}

.centerBtn {
  float: right;
  min-width: 100px;
}

.Fullwidth {
  width: 80%;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.NewLink {
  color: rgb(56, 141, 255);
  cursor: pointer;
  text-decoration: underline;
  padding: 5px;
}

.notEdit#tab1 input:disabled, .notEdit select:disabled {
  cursor: default !important;
}

:host /deep/ datatable-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

:host /deep/ datatable-body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

:host /deep/ datatable-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #E0E0E0;
}

:host /deep/ .datatable-header-cell, :host /deep/ .datatable-header-inner {
  height: 100%;
}

:host /deep/ .datatable-header-cell-label {
  font-size: 14px;
}

:host /deep/ .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
:host /deep/ .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: #cccccc !important;
  color: #FFF;
}

.modal {
  display: block;
  color: black;
}

.Fullwidth {
  width: 60%;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.NewLink {
  color: rgb(56, 141, 255);
  cursor: pointer;
  text-decoration: underline;
  padding: 5px;
}

.SmallModal {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.modal .halfInput input, .modal .halfInput select {
  width: 200px;
  display: inline-block;
}

.modal .halfInput label {
  cursor: pointer;
  width: 130px;
}

.percentageIcon {
  font-size: 20px;
}

.DeleteFactory {
  color: #c82020;
  cursor: pointer;
}

.AddSpace {
  margin: 0px 5px;
  color: rgba(48, 120, 217, 0.99)
}

.WorkOrderpopUp .modal-dialog {
  width: 80% !important;
}

.WorkOrderpopUp .modal-body {
  height: 420px;
  overflow-y: scroll;
}

.diviWorkOrder {
  background-color: rgba(30, 130, 255, 0.12);
  padding: 7px;
  border: solid 1px transparent;
  border-radius: 5px;
}

:host /deep/ .datatable-row-detail ngx-datatable datatable-header {
  display: none;
}
