/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

  .Unassigned-Container{
    height: 570px;
    min-height: 400px;
    overflow-y: scroll;
  }
.dropDiv{
  height: 570px;
  overflow: scroll;
}
.disDetails{
  height: 500px !important;
  overflow-y: scroll;
}
.team-container{
  height: 270px;
  overflow-y: scroll;
  background: #eff9ff;
}
.member-container{
  background: #eee;
}
.drag-dropDiv{
    background-color:#02466b;
  }
  .wrppare{
    background-color: rgba(18, 17, 17, 0.20);
    margin: 50px 0;
  }

  .drag-height
  {
    min-height: 250px;
  }
  .drag-container{
    color: #fff;
    padding: 5px;
    background-color: rgba(80, 98, 193, 0.20);
  }

   .tes{
    min-height: 340px !important;
    height: 230px;
    margin-top: 16%;
  }

  .drop-container{
    color: #fff;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top:41px;
   
  }
 
  .drag-item{
    padding: 12px;
    margin: 8px;
    background-color: #39637b;
    transition: opacity 0.4s ease-in-out;
  }

  .drag-item p{
    padding: 10px 5px;
    font-size: 14px;
    text-align:left;
    background: rgba(94, 115, 170);
    color:#fff;
    
  }
  .title{
      color: #fff;
      padding-left: 9px;
      
  }
/* table thead{
  background-color: #073c5a !important;
}
.table
{
  margin-top: 47px;
}
.table th{
  padding-left: 20px;
}

td{
  border: 2px solid #fff !important;
}
.table td{
  min-height: 340px !important;
  height: 230px;
  min-width: 200px;
} */
.test{
  background-color: rgba(255, 255, 255, 0.4)!important;
  width: 220px !important;
  border-radius: 5px !important;
  display: table-cell;
  min-height: 250px;
  padding: 10px;
  margin-bottom: 8%;
  color: brown;
}

.noBorder {
  border:none !important;
}

.col-md-12 .btn{
  margin-bottom: 5%;
  height: 70px;
}


/* Draggable*/

.drag-border {
  border: #ff525b dashed 2px;
}

.drag-handle {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active { 
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
  border: #3c763d dashed 2px;
}

.drag-over-border {
  border: #fbbc05 dashed 2px;
}

.drag-transit {
  border: #3500FF dashed 2px;
}

.panel {
  margin-bottom: 0px;
}

/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */

::-webkit-scrollbar       {background-color:#eee;width:13px}
::-webkit-scrollbar-track {background-color:#eee}
::-webkit-scrollbar-thumb {background-color:#babac0;border-radius:13px;border:4px solid #eee}

.btnDiv{
  margin-bottom: 10px;
}
.btnDiv button{
  height: 45px;
}

.gu-transit {
  pointer-events: none;
}