<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-danger Unassigned-Container">
      <div class="panel-heading">Unassigned Team Members</div>
      <div [dragula]="'memberBag'">
      <div class="panel-body group-handle" draggable="true" *ngFor="let unassign of unassignedMembers" (click)="activeMember(unassign)" (mousedown)="setActiveMember(unassign)">
        <div class="panel panel-default member-container">
          <div class="panel-body">
            <div>
              <span><b> name: </b> {{unassign.memberParentName}}</span><br/>
              <span><b> PF: </b> {{unassign.pf}}</span><br/>
              <span><b> Type: </b> {{unassign.memberTypeName}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="col-sm-8 dropDiv">
    <div class="col-sm-3 dropDetails" *ngFor="let dis of dispatcherTeams" (mousemove)="setActiveDispatcher(dis)">
      <div class="panel panel-warning">
        <div class="panel-heading">{{dis.dispatcherName}}</div>
        <div class="disDetails" [dragula]="'memberBag'">
          <div class="panel-body teamMember-container group-handle" draggable="true" *ngFor="let team of dis.teams" (mousedown)="setActiveTeam(team)">
            <div class="col-sm-12">
              <div class="panel panel-warning">
                <div class="panel-heading">{{team.name}}</div>
                <div class="team-container" [dragula]="'memberBag'" (mousemove)="setActiveTeamMember(team)">
                  <div class="panel-body nested-bag group-handle" draggable="true" *ngFor="let member of team.members" (mousedown)="setActiveMember(member)">
                    <div class="panel panel-default member-container">
                      <div class="panel-body">
                        <div>
                          <span><b> name: </b> {{member.memberParentName}}</span><br/>
                          <span><b> PF: </b> {{member.pf}}</span><br/>
                          <span><b> Type: </b> {{member.memberTypeName}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="btnDiv">
      <button class="btn btn-info" (click)="openCreateTeamModel()">Create New Team or Vehicle</button>
    </div>
    <div class="btnDiv">
      <button class="btn btn-info" (click)=openCreateTeamMemberModel()>Create New Team Member</button>
    </div>
    <div class="btnDiv">
      <button class="btn btn-warning">Change Team or Vehicle</button>
    </div>
    <div class="btnDiv">
      <button class="btn btn-warning">Create Team Member</button>
    </div>
  </div>

</div>