<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn sidenav-item" (click)="closeNav()">&times;</a>

  <a routerLink="./" class="sidenav-item" (click)="closeNav()">
    <span class="glyphicon glyphicon-home IconMenue"></span>
    Home</a>

  <a *ngIf="roles.includes('CallCenter') || roles.includes('Maintenance')" routerLink="./search" class="sidenav-item" (click)="closeNav()">
    <span class="fa fa-phone IconMenue"></span> Start Call
  </a>

  <a *ngIf="roles.includes('CallCenter') || roles.includes('Maintenance')" routerLink="./search/calls-history" class="sidenav-item"
    (click)="closeNav()">
    <span class="fa fa-history IconMenue"></span>Calls history
  </a>

  <a *ngIf="roles.includes('CallCenter') || roles.includes('Maintenance')" routerLink="./search/customersList" class="sidenav-item"
    (click)="closeNav()">
    <span class="fa fa-users IconMenue"></span>Customers</a>

  <a *ngIf="roles.includes('Maintenance')" routerLink="./search/estimation" class="sidenav-item" (click)="closeNav()">
    <span class="fa fa-file-text IconMenue"></span>Estimations</a>

  <a *ngIf="roles.includes('CallCenter') || roles.includes('Maintenance')" routerLink="./search/quotation" class="sidenav-item"
    (click)="closeNav()">
    <span class="fa fa-usd IconMenue"></span>Quotations</a>

  <a *ngIf="roles.includes('CallCenter')" routerLink="./search/contract" class="sidenav-item" (click)="closeNav()">
    <span class="fa fa-book IconMenue"></span>Contracts</a>

  <a *ngIf="roles.includes('CallCenter')" routerLink="./search/order" class="sidenav-item" (click)="closeNav()">
    <span class="fa fa-briefcase IconMenue"></span>Orders</a>

  <a *ngIf="roles.includes('Dispatcher')" routerLink="./dispatcher" class="sidenav-item" (click)="closeNav()">
    <span class="fa fa-briefcase IconMenue"></span>Orders Management</a>

  <a *ngIf="roles.includes('Dispatcher')" routerLink="./dispatcher/preventive" class="sidenav-item" (click)="closeNav()">
    <span class="fa fa-briefcase IconMenue"></span>Preventive Orders</a>

  <!--<a *ngIf="roles.includes('Maintenance') || roles.includes('CallCenter')" routerLink="./search/estimations-report"-->
  <!--class="sidenav-item" (click)="closeNav()"><span-->
  <!--class="fa fa-briefcase IconMenue"></span>Estimations Report</a>-->

  <a *ngIf="roles.includes('Dispatcher')" routerLink="./dispatcher/report" class="sidenav-item" (click)="closeNav()">
    <span class="fa fa-table IconMenue"></span>Report</a>

  <a *ngIf="roles.includes('Dispatcher')" routerLink="./dispatcher/calender" class="sidenav-item" (click)="closeNav()">
    <span class="fa fa-calendar IconMenue"></span> Visit Time Calender</a>

  <a *ngIf="roles.includes('Dispatcher') || roles.includes('Admin')" routerLink="./assign-item" class="sidenav-item" (click)="closeNav()">
    <span class="fa fa-industry IconMenue"></span>Inventory</a>

  <a *ngIf="roles.includes('Admin')" routerLink="./admin" class="sidenav-item" (click)="closeNav()">
    <span class="fa fa-cogs IconMenue"></span> Admin Page
  </a>


</div>

<div id="main" class="wrapper">
  <app-main-header-component (loggedOut)="closeNav()"></app-main-header-component>
  <!-- <span *ngIf="menuItemToggle" class="menueIcon" (click)="openNav()">&#9776;</span> -->
  <div class="BackImg">
    <div class="temp-sibiling" *ngIf="toggleFullWidth"></div>
    <div class="StaticBack">
      <div class="row">
        <div class="co-xs-12">
          <app-alert-component class="alertInfo"></app-alert-component>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="push"></div>
  </div>
</div>

<app-footer-component class="footer"></app-footer-component>
