.filter-form {
  width: 95%;
  margin: 35px auto 0;
  .filter-form-section {
    height: 85px;
    width: 100%;
    //margin-bottom: 15px;
  }
  .buttons-container {
    margin-top: 25px;
    .btn {
      width: auto;
    }
  }
  label {
    display: block;
  }
}

.beforeFilterTemp {
  & ~ .filter-form {
    width: 83%;
    .sections-container {
      width: 100%;
      display: flex;
      align-items: center;
      //flex-wrap: wrap;
      //border: 1px solid black;
      .filter-form-section {
        //width: 150px;
        margin: 10px;
        &:last-child {
          //height: 25px;
          label {
            display: inline;
          }
        }
      }
    }
    .buttons-container {
      display: block;
      margin: 25px auto;
      width: 300px;
      .report-button {
        width: auto;
      }
      button {
        margin: 10px 10px 35px;
        justify-self: flex-end;
        flex-grow: 1;
        &:first-child {
          background-color: #66cc00;
          border-color: #66cc00;
        }
      }
    }
  }
}
