<div *ngIf="type == 'report' || type == 'order board'" class="beforeFilterTemp"></div>
<form #filterForm="ngForm" class="filter-form" (submit)="applyFilter()">

  <div class="sections-container">

    <div class="filter-form-section" *ngIf="type=='order board'">
      <div class="form-group">
        <label>Order NO</label>
        <input class="form-control" placeholder="Order NO" name="orderNo" [(ngModel)]="filter.orderNo">
      </div>
    </div>

    <div class="filter-form-section">
      <label>Status</label>
      <p-multiSelect name="status " [options]="allStatus"
                     [(ngModel)]="filter.status"
                     optionLabel="name"></p-multiSelect>
    </div>

    <div class="filter-form-section">
      <label>Problems</label>
      <p-multiSelect name="problem" [options]="allProblems" [(ngModel)]="filter.problems"
                     optionLabel="name"></p-multiSelect>
    </div>

    <div class="filter-form-section" *ngIf="type!='order board'">
      <label>Dispatchers</label>
      <p-multiSelect name="dispatchers" [options]="allDispatchers" [(ngModel)]="filter.dispatchers"
                     optionLabel="userName"></p-multiSelect>
    </div>

    <div class="filter-form-section" *ngIf="type!='order board'">
      <label>Technicians</label>
      <p-multiSelect name="tecs" [options]="tecs" [(ngModel)]="filter.tecs"
                     optionLabel="userName"></p-multiSelect>
    </div>

    <app-date-from-to [startDateLable]="'Created Date Start'" [endDateLable]="'Created Date End'"
                      class="filter-form-section" [required]="false"
                      [submitted]="filterForm.submitted"
                      (startDate)="setStartDateFrom($event)" (endDate)="setStartDateTo($event)"
    ></app-date-from-to>

    <div class="filter-form-section" *ngIf="type == 'report'">
      <label>Order Progress</label>
      <input type="checkbox" class="uk-checkbox" name="hasOrderProgress"
             [(ngModel)]="filter.hasOrderProgress">
    </div>

  </div>

  <div class="buttons-container">

    <button *ngIf="type == 'report'" (click)="exportCsv()" type="button" class="btn btn-light report-button"
            [disabled]="!reportOrders.length">Export
    </button>

    <button *ngIf="type == 'map'" (click)="emitTodayOrders()" type="button" class="btn btn-light">Today Orders
    </button>

    <button *ngIf="type == 'report' || type == 'order board'" (click)="applyResetFilter()" type="button"
            class="btn btn-light report-button">
      Reset
    </button>

    <button [disabled]="checkFilter()" type="submit" class="btn btn-dark report-button">Filter</button>
  </div>
</form>
