<!-- <div class="row BackStat">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-xs-12 uk-card uk-card-default loginForm">
        <h2>Welcome, <span class="SmallTxt">{{currentUser.userName}}</span></h2>
        <hr/>
      </div>
    </div>

  </div>
</div> -->

<p-growl [(value)]="msg" [life]="5000"></p-growl>

<div class="row tabs">
  <!-- <div class="col-md-offset-1 col-md-10"> -->
  <ul class="uk-child-width-expand" uk-tab>
    <li *ngIf="pagesItemSharedService.actionHideMe.masterData" (click)="setActiveTab('data')" class="uk-active"><a href="#">
        <i class="fa fa-desktop"></i> Master Data</a></li>
    <li *ngIf="pagesItemSharedService.actionHideMe.usersManagement" (click)="setActiveTab('usersManagement')"><a href="#">
        <i class="fa fa-user"></i>
        Users Management</a></li>
    <li *ngIf="pagesItemSharedService.actionHideMe.teamManagement" (click)="setActiveTab('teamManagement')"><a href="#">
        <i class="fa fa-users"></i>
        Team Management</a></li>
    <li *ngIf="pagesItemSharedService.actionHideMe.orderManagement" (click)="setActiveTab('orderManagement')"><a href="#">
        <i class="fa fa-file-text-o"></i>
        Order Management</a></li>
    <li *ngIf="pagesItemSharedService.actionHideMe.dispatcherSetting" (click)="setActiveTab('dispatcherSetting')"><a href="#">
        <i class="fa fa-street-view"></i> Dispatchers Setting </a></li>
    <li *ngIf="pagesItemSharedService.actionHideMe.assignTechnicians" (click)="setActiveTab('assign-tec')"><a href="#"><i
          class="fa fa-check-square"></i> Assign Technicians</a></li>
    <li *ngIf="pagesItemSharedService.actionHideMe.inventory" (click)="setActiveTab('upload')"><a href="#"><i class="fa fa-upload"></i>
        Upload resources</a></li>
    <li *ngIf="pagesItemSharedService.actionHideMe.uploadResources"><a href=""> <i class="fa fa-archive"></i> Inventory</a></li>
  </ul>
  <!-- </div> -->
</div>

<h3 class="page-title" *ngIf="activeTab == 'data'">Master Data</h3>
<h3 class="page-title" *ngIf="activeTab == 'usersManagement'">User Management</h3>
<h3 class="page-title" *ngIf="activeTab == 'teamManagement'">Teams Board</h3>
<h3 class="page-title" *ngIf="activeTab == 'orderManagement'">Order Board</h3>
<h3 class="page-title" *ngIf="activeTab == 'dispatcherSetting'">Dispatchers Settings</h3>


<div class="row">
  <div class="uk-card uk-card-default">

    <div class="container-fluid uk-animation-fade" *ngIf="activeTab == 'data'">
      <div class="col-md-offset-1 col-md-10">
        <ul uk-accordion="multiple: false" class="accordion-header">
          <li *ngFor="let item of items" [ngClass]="applyDefaultActiveClass(item)">
            <h4 class="uk-accordion-title sub-title" (click)="getData(item)">{{item}}</h4>
            <div class="uk-accordion-content">
              <app-simple-admin-content [type]="item" [getData]="getDataForType"></app-simple-admin-content>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="container-fluid uk-animation-fade" *ngIf="activeTab == 'usersManagement'">
      <div class="col-md-offset-1 col-md-10">
        <ul class="uk-child-width-expand" uk-tab style="margin-left:0 !important;">
          <li *ngFor="let role of itemsRoles" [ngClass]="applyActiveTab(role.name)">
            <a (click)="getUserData(role.name)" style="padding-bottom:0 !important">
              <h5>{{role.name}}</h5>
            </a>
          </li>
        </ul>
        <ul class="uk-switcher animation: uk-animation-fade">
          <li *ngFor="let role of itemsRoles">
            <app-userManagment [role]="role.name" [getUserData]="getDataForRole"></app-userManagment>
          </li>
        </ul>
      </div>
    </div>

    <div class="row uk-animation-fade" *ngIf="activeTab == 'teamManagement'">
      <div class="col-md-offset-1 col-md-10">
        <app-teamManagement></app-teamManagement>
      </div>
    </div>

    <div class="row uk-animation-fade" *ngIf="activeTab == 'orderManagement'">
      <div class="col-md-offset-1 col-md-10">
        <app-orderManagement></app-orderManagement>
      </div>
    </div>

    <div class="row uk-animation-fade" *ngIf="activeTab == 'dispatcherSetting'">
      <div class="col-md-offset-1 col-md-10">
        <app-setting-dispatchers></app-setting-dispatchers>
      </div>
    </div>

    <div class="row uk-animation-fade" *ngIf="activeTab == 'assign-tec'">
      <div class="col-md-offset-1 col-md-10">
        <app-assign-tec></app-assign-tec>
      </div>
    </div>

    <div class="row uk-animation-fade" *ngIf="activeTab == 'upload'">
      <div class="col-md-offset-1 col-md-10">
        <app-admin-upload-resources></app-admin-upload-resources>
      </div>
    </div>

  </div>
</div>