.AdminSearch {
  margin: 25px;
}

/*.accordion-header {*/
/*}*/

/*.accordion-header li {*/
  /*background-color: rgb(240, 240, 240);*/
  /*padding-right: 10px;*/
  /*padding-left: 10px;*/
  /*padding-bottom: 10px;*/
  /*margin-bottom: 5px;*/
  /*margin-top: 5px;*/
  /*border: 1px solid rgb(240, 240, 240);*/
  /*transition: 0.5s all;*/
  /*box-sizing: border-box;*/
/*}*/

/*.accordion-header li:hover {*/
  /*border: 1px solid #02466b;*/
  /*transition: 0.5s all;*/
/*}*/

/*.accordion-header li h4 {*/
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
/*}*/

.tabs {
  margin-top: 0px !important;
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
}
.uk-tab {
  margin-top: 1%;
  margin-left: 3%;
}

.tabs .uk-active {
  color: #02466b !important;
  font-weight: 400;
}

.tabs li a {
  font-size: 1em;
}

.uk-tab>.uk-active>a {
  color: #02466b;
  border-bottom: 3px solid #f28a2c;
  padding-bottom: 1%;
}
.uk-tab>*>a {
  text-transform: none !important;
  /* padding: 5px 0px; */
  text-align: unset;
  display: inline-block;
}
.nav:after,.navbar:after,.navbar-header:after,.row:after{
  display: inherit;
}
.uk-child-width-expand>*{
  display: contents;
}