<p-growl [(value)]="msg" [life]="5000"></p-growl>

<div class="row tabs">
    <!-- <div class="col-md-offset-1 col-md-10"> -->
      <ul class="uk-child-width-expand" uk-tab>
        <li *ngIf="pagesItemSharedService.actionHideMe.masterData" (click)="setActiveTab('data')" class="uk-active"><a href="#"> <i class="fa fa-desktop"></i> Master Data</a></li>
        <li *ngIf="pagesItemSharedService.actionHideMe.usersManagement" (click)="setActiveTab('users')"><a href="#"> <i class="fa fa-user"></i> Users Management</a></li>
        <li *ngIf="pagesItemSharedService.actionHideMe.teamManagement"  (click)="setActiveTab('users')"><a href="#"> <i class="fa fa-users"></i> Team Management</a></li>
        <li *ngIf="pagesItemSharedService.actionHideMe.settingDispatchers"  (click)="setActiveTab('settingDispatchers')"><a href="#"> <i class="fa fa-street-view"></i> Setting Dispatchers</a></li>
        <li *ngIf="pagesItemSharedService.actionHideMe.assignTechnicians"  (click)="setActiveTab('assign-tec')"><a href="#"><i class="fa fa-check-square"></i> Assign Technicians</a></li>
        <li *ngIf="pagesItemSharedService.actionHideMe.inventory"  (click)="setActiveTab('upload')"><a href="#"><i class="fa fa-upload"></i> Upload resources</a></li>
        <li *ngIf="pagesItemSharedService.actionHideMe.uploadResources"><a href=""> <i class="fa fa-archive"></i> Inventory</a></li>
      </ul>
    <!-- </div> -->
  </div> 

<h3 class="page-title">Administration panel</h3>
<div class="row">
  <div class="uk-card uk-card-default">

    <div class="row uk-animation-fade" [hidden]="activeTab != 'data'">
      <div class="col-md-offset-1 col-md-10">
        <ul uk-accordion="multiple: false" class="accordion-header">
          <li *ngFor="let item of items" [ngClass]="applyDefaultActiveClass(item)">
            <h4 class="uk-accordion-title sub-title" (click)="getData(item)">{{item}}</h4>
            <div class="uk-accordion-content">
              <app-simple-admin-content [type]="item" [getData]="getDataForType"></app-simple-admin-content>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row uk-animation-fade" [hidden]="activeTab != 'users'">
      <div class="col-md-offset-1 col-md-10">
        <app-admin-users [getData]=getUserDataFlag></app-admin-users>
      </div>
    </div>

    <div class="row uk-animation-fade" *ngIf="activeTab == 'settingDispatchers'">
      <div class="col-md-offset-1 col-md-10">
        <app-setting-dispatchers></app-setting-dispatchers>
      </div>
    </div>

    <div class="row uk-animation-fade" *ngIf="activeTab == 'assign-tec'">
      <div class="col-md-offset-1 col-md-10">
        <app-assign-tec></app-assign-tec>
      </div>
    </div>

    <div class="row uk-animation-fade" *ngIf="activeTab == 'upload'">
      <div class="col-md-offset-1 col-md-10">
        <app-admin-upload-resources></app-admin-upload-resources>
      </div>
    </div>

  </div>
</div>


