<div class="row">

    <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>
  
    <div class="col-md-12" *ngIf="!toggleLoading">
  
      <ngx-datatable class="material expandable" [rows]="rows" [columnMode]="'force'" [columns]="[]"
                     [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="5"
                     [selected]="[]"
                     [selectionType]="'falsey'">
                     
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="false"
                              [checkboxable]="false">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="userName" name="User Name" *ngIf="role == 'Admin'"></ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="email" name="Email" *ngIf="role == 'Admin'"></ngx-datatable-column> 
        <ngx-datatable-column [width]='100' prop="firstName" name="First Name" *ngIf="role == 'Admin'"></ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="lastName" name="Last Name" *ngIf="role == 'Admin'"></ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="roleName[0]" name="Role Name" *ngIf="role == 'Admin'"></ngx-datatable-column>  
        <ngx-datatable-column [width]='100' prop="phone" name="Phone" *ngIf="role == 'Admin'"></ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="name" name="Name" *ngIf="role != 'Admin'"></ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="divisionName" name="Division" *ngIf="role != 'Admin'"></ngx-datatable-column> 

        <ngx-datatable-column [width]='100' prop="costCenterName" name="Cost Center" *ngIf="role != 'Admin'"></ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="supervisorName" name="Supervisor" *ngIf="role == 'Dispatcher' || role == 'Forman'"></ngx-datatable-column>  
        <ngx-datatable-column [width]='100' prop="dispatcherName" name="Dispatcher" *ngIf="role == 'Forman'"></ngx-datatable-column>  

        <ngx-datatable-column [width]='75' prop="id" name="Edit">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
  
            <button class="btn btn-light" (click)="edit(row)">
              <i class="fa fa-pencil-square-o"></i>Edit
            </button>
  
          </ng-template>
        </ngx-datatable-column>
  
        <!-- <ngx-datatable-column [width]='100' prop="id" name="Remove">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
            <button class="btn btn-danger" (click)="remove(row)">
              <i class="fa fa-times" aria-hidden="true"></i>
              Remove
            </button>
          </ng-template>
        </ngx-datatable-column> -->
  
      </ngx-datatable>
    </div>
  </div>
  
  <div class="row" *ngIf="!toggleLoading" style="margin-top:1%">
    <div class="col-md-3 col-md-offset-9 add-button">
      <button class="btn btn-dark btn-add" (click)="add()"><i class="fa fa-plus-circle"></i> Add {{type}}</button>
    </div>
  </div>
  